.randomPost {
  padding: 2rem;
  text-align: center;

  &__title{
    font-size: 50px;
  }

  &__button {
    margin-top: 10px;
    padding: 20px 35px;
    border: 2px solid var(--black);
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
  }

  &__loading{
    font-size: 24px;
    color: var(--green);
  }

  &__text{
    font-size: 24px;
  }

  &__error{
    font-size: 24px;
    color: var(--red);
  }
}
