.randomPost {
  padding: 2rem;
  text-align: center;
}

.randomPost__title {
  font-size: 50px;
}

.randomPost__button {
  margin-top: 10px;
  padding: 20px 35px;
  border: 2px solid var(--shadow-color);
  border-radius: 15px;
  cursor: pointer;
  font-size: 22px;

  &:hover {
    background-color: var(--background-dark);
  }
}

.randomPost__loading {
  font-size: 24px;
  color: var(--loading-color);
}

.randomPost__text {
  font-size: 24px;
}

.randomPost__error {
  font-size: 24px;
  color: var(--error-color);
}
