.header {
  padding: 50px;
}
.header__links {
  display: flex;
  justify-content: center;
}

.header__linkItem {
  color: var(--base-text-color);
  text-decoration: none;
  font-size: 34px;
  padding-left: 25px;
  padding-right: 25px;

  &:hover {
    text-decoration: underline;
  }

  &:not(:last-child) {
    border-right: 4px solid var(--base-text-color);
  }
}
