.header {
  background-color: var(--white);
  padding: 50px;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__linkItem {
    color: var(--black);
    text-decoration: none;
    font-size: 34px;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
      text-decoration: underline;
    }

    &:nth-child(1){
      border-right: 4px solid var(--black);
    }
  }
}
