.card {
  min-width: 300px;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  background-color: var(--background-light);
  border: 1px solid var(--shadow-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out,
              border 0.3s ease-in-out,
              box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.08);
    border: 1px solid var(--focus-color);
    box-shadow: 0 6px 10px var(--shadow-color);
  }
}
